
<html>
    <head>
        <title>Locadora Nazario</title>
        <meta charset="UTF-8">
        <link rel ="icon" type="image/jpg" href="img/th.jfif"/>
	<link rel="stylesheet" type="text/css" href="CSS/estilo.css">
    </head>
    <body>
        <fieldset>
        <legend><h1>Locadora Nazario</h1></legend>
            <center><div>
                <h3>
                A Locadora Nazario é um estabelecimento físico que oferece serviços de aluguel de vídeos como filmes, programas de TV pré-gravados, jogos eletrônicos e outros conteúdos.
                </h3>
                    <br>
                <h2>
                    <p><a href="cadastrar.html">Para efetuar um cadastro clique aqui.</p></a>
                </h2>
                <br>
                <h2>
                   <p><a href="logar.html">Para efetuar um login clique aqui.</p></a>
                </h2>
            </div></center>
            <br>
        </fieldset>
    </body>
	<hr>
	<h5> Gabriel Oliveira - Todos os direitos resevados</h5>
</html>