<!DOCTYPE html>
<html>
    <head>
        <title>Logar</title>
        <meta charset="UTF-8">
        <link rel ="icon" type="image/jpg" href="img/th.jfif"/>
	<link rel="stylesheet" type="text/css" href="CSS/estilo.css">
    </head>
    <body>      
        <h1>Login do cliente</h1> <!-- h1 para titulos do documento html e center está com aalinhamento centralizado -->
	<hr><!--tag linha -->
        <center>
        <div>
        <form method="POST" action="../Controller/controla_logar.php">
        <center><table>
        
        <tr><td><label>Email:</label></td></tr>
        <tr><td><input type="email" name="email"></td></tr>

        <tr><td><label>Senha:</label></td></tr>
        <tr><td><input type="password" name="senha"></td></tr>

        <tr><td><input type="reset" value="Limpar"><input type="submit" value="Logar" name="botao"></td></tr>

        </table></center>
        </form>
      
        <form action="cadastrar.html"><center>
        <input type="submit" value="Cadastrar"><br>
        </center></form>
        </div>
        </center>
    </body>
    <hr>
    <h5> Gabriel Oliveira - Todos os direitos resevados</h5>
</html>