/*Arquivo estilo.css*/
	*{
	margin: 0px;
	padding: 0px;
	}
        
        body{ background-color:#000000;
	}
	
	h1{font-family: Ms Trebuchet;
	font-size: 30px;
	color: #B0E0E6;
	text-align: center;
	}

	
	form{ margin: 40px;
	padding:10px;
	}

	label{font-family: Ms Trebuchet;
	font-size:18px;
	color: #FFFFFF;
	text-align: left;
	line-height : 10px;
	}

	#text1 {font-family: Ms Trebuchet; /* uso de id */
	font-size:15px;
	color: #000000;
	text-align: left;
	line-height : 10px;
	}

	#text2 {font-family: Ms Trebuchet;
	font-size:15px;
	background-color:#FFFFFF;
	color: #000000;
	text-align: left;
	line-height : 10px;
	}

	#text3 {font-family: Ms Trebuchet;
	font-size:15px;
	color: #000000;
	text-align: left;
	line-height : 10px;
	}
	
	h5{font-family: Ms Trebuchet;
	font-size: 10px;
	text-align: center;
	color:#FFFFFF;
	text-decoration: none; /* coloca uma decoração na font h5*/
	font-weight: bold; /* peso da font, aqui em negrito*/
	}
